<!DOCTYPE html>
<html>
<head>
    <title>Real or Fake News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Real or Fake News</h1>
    <div class="form-container">
    <form action="/predict" method="post">
        <label for="text">Enter url:</label><br>
        <textarea name="text" rows="9" cols="150"></textarea><br>
        <input type="submit" value="Submit">
    </form>
    </div>
    <header>
        <h1 class="title">{{news_name}}</h1>
        <p class="date">{{news_date}}</p>
    </header>
    <main>
        <div class="card">
            <a href="{{url00}}"><img src="{{pic00}}" alt="Article Image"></a>
            <div class="card-body">
                <p class="article-source">{{source00}}</p>
                <h2 class="article-title"><a href="{{url00}}"></a>{{title00}}</h2>
                <p class="article-body">{{body00}}</p>
                <p class="article-similar">Similar articles: 
                    <a class="article-similar-body" href="{{cluster00_0_url}}">{{cluster00_0_source}}</a>
                </p>
            </div>
        </div>
    </main>
</body>
</html>
